.drophere {
  float: left;
  margin-left: 100px;
  width: 1000px;
  height: 100px;
  border: 1px solid red;
  padding: 5px;
}

.draghere {
  width: 100%;
  height: 100px;
  background: green;
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.ui-draggable-dragging {
  background: blue;
}

.hoverClass {
  border: 2px solid red;
  background: black;
}